/* home section1 */


.home-section1 picture img{
  width: 100%;
  height: auto;
}



/* @media (max-width:600px) {
  .home-section1 picture img{
      min-height: 550px;
  }
  }   */




/* home-section2 */
.home-section2 {
  background: #F8F8FB;
}

@media (max-width:992px) {
  .home-section-2_img1{
    max-width: 177px;
    max-height: 45px;
    flex-shrink: 0;
    width: 100%;
    height: auto;
  }

}
.home-section-2_img2{
  max-width: 500px;
  flex-shrink: 0;
  width: 100%;
  height: auto;
}
.home-section-3_new .splide__slide picture img{
  border-radius: 30px;
  overflow: hidden;
}




.home-section2 .home-section2_grid-item svg {
  max-width: 100px;
  max-height: 100px;
}


.home-section2_mobile-logo-item{
  padding: 0 20px;
}


.home-section2 .home-section2_mobile-logo-items ul li {
  border-right: 2px solid #E9E9E9;

}

.home-section2 .home-section2_mobile-logo-items ul li:last-child {
  border-right: none !important;
}

.home-section2-heading {
  color: #000;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 51.2px */
}
.home-section2_text {
  color: #6d6d6d;
  text-align: start;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%; /* 19.32px */
}
.home-section2_mb-title {
  color: #2d2d2d;
  font-family: var(--font-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.home-section2_mb-text {
  color: #6d6d6d;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%; /* 19.32px */
}

.home-section2_mb-link {
  color: #a0222c;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #a0222c;
  text-decoration: none;

  display: flex;
  width: 157px;
  height: 42px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.home-section2-mobile-slider_text {
  color: #6d6d6d;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 147%; /* 17.208px */
  text-transform: uppercase;
  margin-top: 20px;

}

.home-section2_main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.home-section2_text .item-text-red {
  color: #a0222c;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.home-section2_mobile-logo_wrapper{
  height: 55px;
  width: 55px;
  margin: auto;
}

.home-section2_mobile-logo_wrapper svg{
  max-height: 55px;
  max-width: 55px;
  margin: auto;
}

.home-section2_mobile-logo-item .home-section2-mobile-slider_text{
 max-width: 130px;
 margin: auto;
 margin-top: 20px;
}

.home-section2_text .item-text-dark {
  color: #2D2D2D;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

@media (min-width: 768px) {
  .home-section2_content {
    max-width: 1200px;
    margin: auto;
  }

  .home-section2-svg_wrapper{
    height: 100px;
    width: 100px;
    margin: auto;
    background: rgba(160, 34, 44, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-section2_text {
    color: #6d6d6d;
    text-align: start;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
  }

  .home-section2_text .item-text-red {
    color: #a0222c;
    font-family: var(--font-inter);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }

  .home-section2_text .item-text-dark {
    color: #2D2D2D;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  /* .home-section2_grid-items{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 20px;
    } */

  .home-section2_grid-item {
    border-radius: 21px;
    border: 1px solid #a0222c;
    background: #f6f6f6;
    height: 100%;
    flex-shrink: 0;
    padding: 30px 20px;
  }

  .home-section2_grid-item--title {
    color: #2d2d2d;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 137.523%; /* 55.009px */
  }
  .home-section2_grid-item--text {
    color: #a0222c;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.523%; /* 27.505px */
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  .home-section2_grid-item--title {
    color: #2d2d2d;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 137.523%; /* 55.009px */
  }
  .home-section2_grid-item--text {
    color: #a0222c;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.523%; /* 27.505px */
    text-transform: uppercase;
  }
}


.home-section-3_new {
  background: linear-gradient(90deg, #F2EBE4 0%, rgba(242, 235, 228, 0.00) 100%);

}

.home-section-3_new .splide__arrow{
  opacity: 1;
  top: 35%;
}
.home-section-3_new .badge-container{
width: 60px;
}
  
  /* home-section-3 */
  
  .home-section-3 {
    background: linear-gradient(90deg, #F2EBE4 0%, rgba(242, 235, 228, 0.00) 100%);
    }
  .home-section-3_wrapper{
    padding: 0 15px;
  }
  .home-section-3 picture img{
    width: 100%;
    height: auto;
 
  }
  


  @keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.home-section-3 .badge-container {
    position: relative;
    display: inline-block;
    max-width: 60px;

}

.home-section-3 .badge {
    width: 120px; /* Set your desired width */
    height: 40px; /* Set your desired height */
    color: #000;
    font-family: var(--font-inter);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blink 6s infinite; 
  
}





  .home-section-3_caption {
    color: #A0222C;
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .home-section-3_title {
    color: #2D2D2D;
    font-family: var(--font-inter);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  @media (min-width: 992px) {
    .home-section-3_wrapper{
      max-width: 82%;
      padding: 0;
    }
  }
  
  @media (min-width: 768px) {
    .home-section-3_wrapper{
      max-width: 80%;
      padding: 0;
    }
    .home-section-3_caption {
      color: #A0222C;
      font-family: var(--font-inter);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
    .home-section-3_title {
      color: #2D2D2D;
      font-family: var(--font-inter);
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  
  .home-section-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 20px;
    height: auto;
  }
  @media (min-width:480px) {
    .home-section-3 picture img {
      width: 100%;
      height: auto;
    }
  }
  
  /* .home-section-3 .splide__slide{
    max-width: 100%;
  }
@media(min-width:320px) and (max-width:600px) {

  .home-section-3 .splide__slide{
    max-width: 320px;
  }
  .home-section-3-slide-content {
    max-width: 320px;
  }

}

@media (min-width:600px) {
  .home-section-3 .splide__slide{
    max-width: 500px;
  }
  
  .home-section-3-slide-content {
    width: 100%;
    max-width: 500px;
    padding: 0 10px;
  }
} */


  .home-section-3-slide-date{
    color: #A0222C;
    font-family: var(--font-inter);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 32.106px */
    
  }

  .home-section-3-slide-item-title {
    color: #2D2D2D;
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 41.6px */
    margin-bottom: 5px;
  }
  .home-section-3-slide-item-text {
    color: #6D6D6D;
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
  }
  .home-section-3-slide-item-link {
    color: #A0222C;
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-decoration-line: underline;
    border: none !important;
    background-color: transparent !important;
  }
  
  .home-section-3 .splide__arrows {
    position: absolute !important;
    top: 40%;
    right: -50px;
    z-index: 999;
    display: flex;
    
  
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    opacity: 1 !important;
  }
  .home-section-3 .splide__arrow {
    opacity: 1 !important;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
  
  .home-section-3 .splide__arrow svg {
    fill: #FFF;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
  }
  
  .home-section-3 .splide__arrow {
    position: unset !important;
    border-radius: 0px;
    background: #f9cf41;
  }
  
  .home-section-3 .splide__arrow--prev {
    border-radius: 0px 0px 10px 0px;
  }
  .home-section-3 .splide__arrow--next {
    border-radius: 0px 10px 0px 0px;
  }
  
  @media (max-width: 768px) {
    .home-section-3 .splide__arrows {
      display: none;
    }
  }
  






  /* section4 */
.home-section4 {
    background: #e7e7e7;
  }
  
  .home-section4_app-links {
    position: absolute;
    right: 0;
    bottom: 3%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .home-section4_app-links-title {
    color: #2d2d2d;
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .home-section4 a {
    text-decoration: none !important;
  }
  
  @media (min-width: 500px) {
    .home-section4_app-links {
      position: absolute;
      right: 0;
      bottom: 6%;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  
  @media (min-width: 650px) {
    .home-section4_app-links {
      position: absolute;
      right: 0;
      bottom: 6%;
      max-width: 50%;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .home-section4_app-links-title {
      color: #2d2d2d;
      font-family: var(--font-inter);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  
  @media (min-width: 1050px) {
    .home-section4_app-links {
      position: absolute;
      right: 0;
      bottom: 20%;
      max-width: 50%;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .home-section4_app-links-title {
      color: #2d2d2d;
      font-family: var(--font-inter);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  


.home-section3-google-play-link{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 42vw;
  height: 200px;
  bottom: 0;
  opacity: 0;
}

.home-section3-app-store-link{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 56vw;
  height: 200px;
  bottom: 0;
  opacity: 0;

}


@media (min-width:650px) {
  .home-section3-google-play-link{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 24vw;
    height: 200px;
    bottom: 0;
  }
  
  .home-section3-app-store-link{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25vw;
    height: 200px;
    bottom: 0;
  }
  
}





  /* home-section5 */

.home-section5 {
  /* background: linear-gradient(
    90deg,
    #a5a5a5 1.74%,
    rgba(255, 255, 255, 0) 35.09%,
    rgba(255, 255, 255, 0) 68.67%,
    #b1b1b1 100.01%
  ); */
  background: #F6F6F6;
}


.home-section5 video {
  border-radius: 20px;
}

.home-section5-main-videos iframe{
  border-radius: 20px;
  max-width: 100%;
  width: 100%;
  background-color: #000;
  /* max-height: 350px;
  max-width: 550px; */
  margin: auto;
  flex-shrink: 0;
}
.home-section5 article.yt-lite {
  border-radius: 20px;
  width: 100%;
  background-color: #000;
  /* min-height: 350px; */
  /* max-width: 550px; */
  width: 100%;
  aspect-ratio: 16/9;
  margin: auto;
  flex-shrink: 0;
}

.home-section5_title {
  color: #2d2d2d;
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%; /* 39px */
}

@media (min-width: 380px) {
  .home-section5_title {
    color: #2d2d2d;
    font-family: var(--font-inter);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 39px */
  }
}

.home-section5_slide-item-text {
  color: #6d6d6d;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%; /* 19.32px */
  margin-top: 10px;
}

.home-section5_slide-item-footer--title {
  color: #a0222c;
  font-family: var(--font-inter);
  font-size: 15.481px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.126px */
}

.home-section5_slide-item-footer--text {
  color: #6d6d6d;
  font-family: var(--font-inter);
  font-size: 13.933px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.113px */
}

@media (max-width: 600px) {
  .home-section5 .splide__arrows {
    position: absolute;
    right: 0px;
    top: -30px;
    display: flex;
    gap: 2px;
  }
}
.home-section5 .splide__arrow {
  position: static;
}
@media (min-width: 600px) {
  .home-section5 .splide__arrow {
    position: absolute;
  }
  .home-section5 .splide__arrow--prev {
    left: -40px !important;
  }
  .home-section5 .splide__arrow--next {
    left: unset;
    right: -40px !important;
  }
}
@media (min-width: 768px) {
  .home-section5_title {
    color: #2d2d2d;
    font-family: var(--font-inter);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
  }

  .home-section5_slide-item-text {
    color: #6d6d6d;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 138%; /* 27.6px */
  }

  .home-section5_slide-item-footer--title {
    color: #a0222c;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
  }

  .home-section5_slide-item-footer--text {
    color: #6d6d6d;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
  }
}

.home-section5-thubnials_wrapper {
  max-width: 450px;
  margin: auto;
}

.home-section5 .splide__arrow {
  background: #9f212c !important;
  opacity: 1;
}

.home-section5 .splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none;
}

.home-section5 .card {
  border-radius: 6.95px;
  border: 0.496px solid #e1e1e1;
  background: #fff;
  box-shadow: 0px 0px 21.84363px 0px rgba(134, 134, 134, 0.25);
  overflow: hidden;
  padding: 5px !important;
}
.home-section5 .card-body {
  padding: 0px;
  text-align: left;
}
.home-section5 .thumbnail-title {
  color: #2d2d2d;
  font-family: var(--font-inter);
  font-size: 9.929px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 12.908px */
}
.home-section5 .thumbnail-text {
  color: #6d6d6d;
  font-family: var(--font-inter);
  font-size: 8.936px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 11.617px */
  /* margin-bottom: 5px; */
}
.home-section5 .splide__arrow svg {
  fill: #fff !important;
}
/* .home-section5 .splide__track--nav > .splide__list > .splide__slide.is-active .card{
  border: 1px solid #000 !important;
} */

.home-section5 .home-section5-main-videos video {
  width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 20px;
  background: black;
}
.home-section5-thubnials_wrapper img {
  /* max-height: 80px; */
  /* height: 65px; */
  margin-bottom: 5px;
  aspect-ratio: 16 / 9;
  border-radius: 4.964px;
  object-fit: cover;
  object-position: top;
}





.home-section7{
  background: #F8F8FB;
}

.home-section7_wrapper{
  background: linear-gradient(77deg, #83151E 3.01%, #AE252F 71.52%, #871720 96.43%);
}


.home-section7_title{
  color: #FFF;
  font-family: var(--font-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 39px */
  letter-spacing: 0.6px;
}

.home-section7_text{
  color: #FFF;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%; /* 19.32px */
  letter-spacing: 0.28px;
}


@media (min-width:768px) {
  .home-section7_title{
    color: #FFF;
    font-family: var(--font-inter);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 59.8px */
    letter-spacing: 0.92px;
  }
  
  .home-section7_text{
    color: #FFF;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 138%; /* 27.6px */
    letter-spacing: 0.4px;
  }
}


.home-section8{
  background: #F8F8FB;
}

.home-section8-heading{
      color: #2D2D2D;
      text-align: center;
      font-family: var(--font-inter);
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 54.6px */
      letter-spacing: 0.84px;
      text-transform: uppercase;
}


.home-section8-title{
  color: #FFF;
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 104%; /* 33.28px */
  filter: drop-shadow(2px 4px 6px black);

}
.home-section8-btn{
  border-radius: 3.22px;
border: 2px solid #B99CE2 !important;
color: #FFF !important;
text-align: center;
font-family: var(--font-inter);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 18px */
letter-spacing: 1.26px;
text-transform: uppercase;
filter: drop-shadow(2px 4px 6px black);
padding: 10px;

}

@media (min-width:992px) {
  .home-section8-heading{
    color: #2D2D2D;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 54.6px */
    letter-spacing: 0.84px;
    text-transform: uppercase;
  }
  .home-section8-title{
    color: #FFF;
    font-family: var(--font-inter);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 104%; /* 33.28px */
    filter: drop-shadow(2px 4px 6px black);
  
  }
}



.home-section9{
  background: #F8F8FB;
}


.home-section9-heading{
  color: #2D2D2D;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 54.6px */
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

@media (min-width:768px) {
  .home-section9-heading{
    color: #2D2D2D;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 54.6px */
    letter-spacing: 0.84px;
    text-transform: uppercase;
  }
}

/* .home-section9_grid-item{
  background-color: red;
} */

.home-section9_grid{
  display: grid;
 grid-template-columns: 2fr 1fr 2fr;
 gap: 20px;

}

.home-section9-mobile img{
  min-height: 230px;
  height:auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;

}


.home-section9 img{
  min-height: 230px;
  height:100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.home-section9_inner-grid{
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 10px;

}

.home-section9_grid-item{
  color:#000;
}






.home-video-slider video{
    width: 100%;
    height: auto;
    border-radius: 20.575px;
}