.product-page__featured-img img {
  aspect-ratio: 1;
}
.product-page__featured-img{
  margin: auto;
  max-width: 450px;

}
.product-page .card {
  border-radius: 14px;
  border: 1px solid #e2e2e2;
  background: #fff;
}
.product-page table td{
  font-size: 15px;
}
.product-page__title {
  color: #2d2d2d;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}
.product-page__sub-title {
  color: #a0222c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}

.product-page__text {
  color: #2d2d2d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

.product-page .btn{
  border-radius: 8px;
background: linear-gradient(90deg, #A0222C 0%, #C79144 100%) !important;
color: #fff !important;
display: flex;
gap: 10px;
align-items: center;
width: 100%;
text-align: center;
justify-content: center;
text-transform: uppercase;
font-size: 18px;
padding: 10px 20px;
border: none;
}