.announcement-bar{
  background: #9F212C;
}

.announcement-bar{
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.announcement-bar span{
  color: #FAD479;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.book-now-btn,.book-now-btn:hover{
  border-radius: 6.237px;
  border: 1.329px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 14.171px */
  padding: 10px;
}

.experienceCenterSection2 {
  background: #f6f6f6;
}

.experienceCenterSection2_heading {
  color: #9f212c;
  font-family: Canela Trial;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.experienceCenterSection2_title {
  color: #c0832b;
  text-align: center;
  font-family: Canela Trial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.experienceCenterSection2_text {
  color: #4e4540;
  text-align: center;
  font-family: Optima;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.4%; /* 21.756px */
}

@media (min-width: 768px) {
  .experienceCenterSection2_heading {
    color: #9f212c;
    font-family: Canela Trial;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .experienceCenterSection2_title {
    color: #c0832b;
    font-family: var(--font-inter);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
  }
  .experienceCenterSection2_text {
    color: #4e4540;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.4%; /* 32.88px */
    letter-spacing: 0.4px;
    text-align: start;
  }
}

.experienceCenterSection3 {
  background: #f6f6f6;
}

@media (max-width: 768px) {
  .experienceCenterSection3_grid-item:nth-child(2) {
    border-right: none;
  }
}

.experienceCenterSection3_grid-item {
  border-right: 1px solid #f3e3ca;
  padding: 0px 10px;
}
.experienceCenterSection3_grid-item:last-child {
  border-right: none;
}
.experienceCenterSection3_grid-item--logo-wrapper {
  max-width: 90px;
  max-height: 90px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  margin: auto;
}
.experienceCenterSection3_title {
  color: #9f212c;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.experienceCenterSection3_grid-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.experienceCenterSection3_grid-item_text {
  color: #282828;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 147%; /* 29.4px */
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .experienceCenterSection3_title {
    color: #9f212c;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .experienceCenterSection3_grid-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .experienceCenterSection3_grid-item_text {
    color: #282828;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 147%; /* 29.4px */
    text-transform: capitalize;
  }
}

.experienceCenterSection6 {
  background-color: #f6f6f6;
}

.experienceCenterSection6 iframe {
  width: 100%;
  height: auto;
  min-height: 500px;
  border-radius: 58px;
}

.experienceCenterSection6_title {
  color: #9f212c;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (min-width: 768px) {
  .experienceCenterSection6_title {
    color: #9f212c;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}


.form-required{
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;

}


.book-now-form {
  border-radius: 37.017px;
  background: #fff !important;
  box-shadow: 0px 0px 76.212px -23.952px rgba(0, 0, 0, 0.32);
  width: 35%;
  padding: 10px 15px;
  position: absolute;
  left: 60%;
  max-width: 500px;
  max-height: 722px;
  aspect-ratio: 2/1;
  top: 50%;
  transform: translate(0px, -50%);
}

.book-now-form input,
.book-now-form select {
  border-radius: 5.444px;
  border: 1px solid #e8e8e8;
  background: #fcfcfc;
  color: #b6b6b6;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 17px */
  height: 30px;
}

@media (min-width: 1200px) {
  .book-now-form input,
  .book-now-form select {
    height: 40px;
  }
}

.book-now-form_labels {
  color: #2d2d2d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.5%; /* 27.3px */
  letter-spacing: 0.4px;
}
/* .book-now-form input[type="checkbox"] {
    width: 32px;
    height: 32px;
    flex-shrink: 0;

} */

.book-now-form input[type="radio"] {
  height: unset;
}




.experience-center-section4_item-text{
    position: absolute;
    bottom: 0;
    left: 50% !important;
    filter: drop-shadow(2px 4px 6px black);
    transform: translate(-50%, 10px) !important;
}

.experience-center-section4 .splide__slide{
max-width: 313px;
}

