.our-story-title{
    color: #A0222C;
    font-family: var(--font-inter);
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    line-height: 109%; /* 49.05px */
}


.our-story-text{
    color: #747474;
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138%; /* 19.32px */
}



@media (min-width:768px) {
    .our-story-title{
        color: #A0222C;
        font-family: var(--font-inter);
        font-size: 52px;
        font-style: normal;
        font-weight: 300;
        line-height: 109%; /* 87.2px */
    }
    
    
    .our-story-text{
        color: #747474;
        font-family: var(--font-inter);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 138%; /* 27.6px */
    }
    
}



/* our-story-section1 */


.our-story-section1{
    background: linear-gradient(77deg, #83151E 21.75%, #AE252F 71.52%, #871720 96.43%);
}
.our-story-section1_border-left{
    border-left:1px solid #EFD8C8;
}

.our-story-section1_title{
    color: #EFD8C8;
    font-family: var(--font-inter);
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 116%; /* 52.2px */
    letter-spacing: -2.025px;
}
.our-story-section1_text{
    color: #EFD8C8;
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138%; /* 19.32px */
}

@media (min-width:768px) {
    .our-story-section1_title{
        color: #EFD8C8;
        font-family: var(--font-inter);
        font-size: 62px;
        font-style: normal;
        font-weight: 300;
        line-height: 109%; /* 87.2px */
        letter-spacing: -3.6px;
    }
    .our-story-section1_text{
        color: #EFD8C8;
        font-family: var(--font-inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 138%; /* 24.84px */
    }
}

.our-story-section1-logo-items{
    border-top: 1px solid #EFD8C8;
    border-bottom: 1px solid #EFD8C8;
}
.our-story-section1-logo-item-content{
    width: max-content;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.our-story-section1-logo-items-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .our-story-section1-logo-items-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.our-story-section1_acheivements-title{
    color: #EFD8C8;
}
.our-story-section1_acheivements{
    border-radius: 30px;
    background: #F2EBE4;
    padding: 15px;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
@media (min-width:768px) {
    .our-story-section1_acheivements{
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
}
/* .our-story-section1_acheivements img{
    max-height: 100px;
    width: auto;
} */

.our-story-section2{
    background: #F2EBE4;
}


.our-story-section2_stars{
    min-width: 100px;
    max-width: 150px;
    width: 100%;
    height: auto;
}








/* our-story-section3 */


.our-story-section3{
    background: #F2EBE4;
}

.our-story-section3 .splide__arrows{
    position: absolute;
    bottom: 0;
    left: 70%;
}

.our-story-section3 .splide__arrow {
    background: #ECBE62;
}

.our-story-section3 .splide__arrow svg {
    fill: #fff;
}

.our-story-section3 .splide__arrow--prev{
    left: 1em;
}


.our-story-section3 .splide__arrow--next{
    left: 4em;
}








.ourstory-Section4{
    background: #9F212C;
}



.ourstory-Section4_title{
    color: #F7C676;
    text-align: center;
    font-family: Playfair Display;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 127.5%; /* 38.25px */
}
.ourstory-Section4_text{
    color: #EFD8C8;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.5%; /* 22.95px */
}


@media (min-width:768px) {
    
.ourstory-Section4_title{
    color: #F7C676;
text-align: center;
font-family: Playfair Display;
font-size: 46px;
font-style: italic;
font-weight: 400;
line-height: 127.5%; /* 68.85px */
}
.ourstory-Section4_text{
    color: #EFD8C8;
text-align: right;
font-family: var(--font-inter);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 127.5%; /* 30.6px */
}
}